/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */


body {
  color: #000;
  font-family: Lato;
  text-align: center;
}

img {
  border-radius: 7px;
  padding: px;
  width: 176px;
  height: 272px;
  max-width: 100%;
  display: block;
  margin: auto
}

h1 {
 
}

.Resume {

}

h2 {
  
}

p {
  
}

.commentaires {
 
}